/* .card_video .row {

  margin: 2rem;
}

audio {
  width: 100%;
}

header img,
footer img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 767px) {
  footer {
    width: 600px;
  }

  .card_video .row .col-12 {

    margin-bottom: 2rem;
  }
} */

.card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card img {
  height: 200px; /* ثبتي الارتفاع اللي تحبيه */
  object-fit: cover; /* يقص الصورة مظبوط */
  width: 100%;
}

.card-body {
  flex: 1; /* يملأ المساحة الفاضية ويخلي كل الكروت نفس الطول */
}

#navpage{
  background-color:transparent;
}

@media (max-width: 768px) {
#navpage{
  background-color:#245168;
}
}