.card_video .row {
  margin: 4rem;
}

/* Make iframe responsive */
.card_video iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  border-radius: 10px;
}
#navpage{
  background-color:transparent;
}



/* Small screens */
@media (max-width: 768px) {
  #navpage{
  background-color:#245168;
}
  .card_video .row {
    margin: 1rem;
  }

  .card_video .row {
    flex-direction: column;
    align-items: center;
  }

  .card_video .row .col-12 {
    margin-bottom: 4rem;
    width: 100%;
  }


}

/* Extra small (phones) */
@media (max-width: 480px) {
  .card_video .card-body h3 {
    font-size: 16px;
  }
}